{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your personal details answers 
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: { 
              text: data['full-name']
            },
            actions: {
              items: [
                {
                  href: "/public-facing/full-name",
                  text: "Change",
                  visuallyHiddenText: "Full name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data['dob-day'] + " " + data['dob-month'] | toMonth + " " + data['dob-year']
            },
            actions: {
              items: [
                {
                  href: "/public-facing/date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "Date of birth"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Documents Provided"
            },
            value: {
              text: data ['identity-documents']
             
            },
            actions: {
              items: [
                {
                  href: "/public-facing/provide-identity-documents",
                  text: "Change",
                  visuallyHiddenText: "Documents Provided"
                }
              ]
            }
          }
        ]
      }) }}

      
      <form action="/public-facing/tasklist" method="post" novalidate>

     <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="/public-facing/tasklist"> Save and return </a>
</div>

      </form>

    </div>
  </div>
{% endblock %}
