{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

       <form class="form" action="/public-facing/tasklist" method="post">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data['telephone-number']
            },
            actions: {
              items: [
                {
                  href: "/public-facing/telephone-number",
                  text: "Change",
                  visuallyHiddenText: "Telephone number"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data["email-address"]
            },
            actions: {
              items: [
                {
                  href: "/public-facing/email-address",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Method of Contact"
            },
            value: {
              text: data ['method-of-contact']
             
            },
            actions: {
              items: [
                {
                  href: "/public-facing/method-of-contact",
                  text: "Change",
                  visuallyHiddenText: "Method of contact"
                }
              ]
            }
          }
        ]
      }) }}

   
      <form action="/confirmation" method="post" novalidate>
 <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="/public-facing/tasklist"> Save and return </a>
</div>

      </form>

    </div>
  </div>
{% endblock %}
