{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <form class="form" action="/public-facing/place-of-work/cya-place-of-work" method="post">
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "hospitals",
   value: data['hospitals'],
  fieldset: {
    legend: {
      text: "Which hospital will you be workingv at?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Birmingham Childrens Hospital",
      text: "Birmingham Childrens Hospital"
    },

    {
      value: "Cambridge University Hospital",
      text: "Cambridge University Hospital"
    },

 {
      value: "Great Ormond Street Hospital for Children",
      text: "Great Ormond Street Hospital for Children"
    },
    
 {
      value: "Paddington Green Children Hospital ",
      text: "Paddington Green Children Hospital "
    },

     {
      value: "Royal Marsden Hospital",
      text: "Royal Marsden Hospitall"
    }
    
    
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
