{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
       CLN-001 Clown Licence Application 
      </h1>

       <h2 class="govuk-heading-m">
       Personal details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: "Jim Chuckles"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "04 May 1996"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Documents Provided"
            },
            value: {
              text: "Passport"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
    
          {
            key: {
              text: "UK or International home address"
            },
            value: {
              text: "UK"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: "16 flowers avenue, <br> Harrow, <br>  London, <br>  England, <br> HA8 8ae" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: "7567643098"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address	"
            },
            value: {
              text: "Jim.chuckles@gmail.com"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Method of Contact"
            },
            value: {
              text: "Email address, <br> Telephone number" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

         <h2 class="govuk-heading-m">
       Skills 
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Car driving"
            },
            value: {
              text: "Yes <br> Small car" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Performance skills"
            },
            value: {
              text: "Juggling <br> Unicycling" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Performance prop"
            },
            value: {
              text: "Cream Pie"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },

          {
            key: {
              text: "Funniest routine"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

        <h2 class="govuk-heading-m">
       Place of work
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Places of work"
            },
            value: {
              text: "Amusement parks <br> Hospitals <br> Shopping mall" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Which Hositals "
            },
            value: {
              text: "Birmingham Childrens Hospital <br> Paddington Green Children Hospital <br> Royal Marsden Hospital" | safe
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
