{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you have experience driving a clown car?"
            },
            value: {
              text: (data['car-driving']  + "<br>" + data['yesDriving'] ) | safe
            },
            actions: {
              items: [
                {
                  href: "/public-facing/skills/car-driving",
                  text: "Change",
                  visuallyHiddenText: "Do you have experience driving a clown car?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Which of the following performance skills do you have?"
            },
            value: {
              text: (data['performance-skills'] + "<br>" + data['otherPerformanceSkills'] ) | safe
            },
            actions: {
              items: [
                {
                  href: "/public-facing/skills/performance-skills",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,{
            key: {
              text: "  What is your main performance prop?"
            },
            value: {
              text: data['prop'] 
            },
            actions: {
              items: [
                {
                  href: "/public-facing/skills/performance-prop",
                  text: "Change",
                  visuallyHiddenText: "Which of the following performance skills do you have?"
                }
              ]
            }
          },
          {
            key: {
              text: "Tell us about the funniest routine you performed as a clown."
            },
            value: {
              text:  data['funniest-routine']
            },
            actions: {
              items: [
                {
                  href: "/public-facing/skills/funniest-routine",
                  text: "Change",
                  visuallyHiddenText: "Tell us about the funniest routine you performed as a clown"
                }
              ]
            }
          }
        ]
      }) }}

      

       <form action="/public-facing/tasklist" method="post" novalidate>

     <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="/public-facing/tasklist"> Save and return </a>
</div>

      </form>

    </div>
  </div>
{% endblock %}
